openapi: 3.1.0
info:
  title: MAX Business Bot API
  description: API мини-приложения «Календарь обязательств ИП» для MAX. Авторизация
    — заголовок `X-Max-Init-Data` с подписанными данными запуска MAX Bridge; логинов
    и паролей нет. Обязательные проверки — DATA-API.yaml в корне репозитория.
  version: 0.1.0
servers:
- url: https://vse-uspel.ru
  description: Прод (адрес из DATA-API.yaml)
paths:
  /api/calendar:
    get:
      tags:
      - miniapp
      summary: События за период и все просроченные без отметки
      operationId: get_calendar_api_calendar_get
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
          description: YYYY-MM-DD, включительно
          title: From
        description: YYYY-MM-DD, включительно
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
          description: YYYY-MM-DD, включительно
          title: To
        description: YYYY-MM-DD, включительно
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalendarItem'
                title: Response Get Calendar Api Calendar Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/items/{item_type}/{item_id}:
    get:
      tags:
      - miniapp
      summary: Карточка события
      operationId: get_item_api_items__item_type___item_id__get
      parameters:
      - name: item_type
        in: path
        required: true
        schema:
          enum:
          - obligation
          - task
          type: string
          title: Item Type
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
          title: Item Id
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCard'
        '404':
          description: Нет такого события у пользователя
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/items/{item_type}/{item_id}/done:
    post:
      tags:
      - miniapp
      summary: Отметить выполненным (идемпотентно)
      operationId: mark_done_api_items__item_type___item_id__done_post
      parameters:
      - name: item_type
        in: path
        required: true
        schema:
          enum:
          - obligation
          - task
          type: string
          title: Item Type
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
          title: Item Id
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCard'
        '404':
          description: Нет такого события у пользователя
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
    delete:
      tags:
      - miniapp
      summary: Снять отметку (идемпотентно)
      operationId: unmark_done_api_items__item_type___item_id__done_delete
      parameters:
      - name: item_type
        in: path
        required: true
        schema:
          enum:
          - obligation
          - task
          type: string
          title: Item Type
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
          title: Item Id
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCard'
        '404':
          description: Нет такого события у пользователя
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/obligations/{item_id}/report:
    post:
      tags:
      - miniapp
      summary: «Неверный срок» по обязательству
      operationId: report_wrong_date_api_obligations__item_id__report_post
      parameters:
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
          title: Item Id
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '204':
          description: Successful Response
        '404':
          description: Нет такого обязательства у пользователя
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/tasks:
    post:
      tags:
      - miniapp
      summary: Создать свою задачу
      operationId: create_task_api_tasks_post
      parameters:
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCard'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/tasks/{task_id}:
    patch:
      tags:
      - miniapp
      summary: Изменить задачу
      operationId: update_task_api_tasks__task_id__patch
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: integer
          title: Task Id
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskPatch'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCard'
        '404':
          description: Нет такой задачи у пользователя
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
    delete:
      tags:
      - miniapp
      summary: Удалить задачу (мягко; повторно — тоже 204)
      operationId: delete_task_api_tasks__task_id__delete
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: integer
          title: Task Id
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '204':
          description: Successful Response
        '404':
          description: Нет такой задачи у пользователя
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/calendar/rebuild:
    post:
      tags:
      - miniapp
      summary: Пересобрать календарь по профилю (экран 19, идемпотентно)
      description: Отметки, свои задачи, часовой пояс и настройки уведомлений не сбрасываются.
        Повторный вызов дублей не создаёт. Пишет событие calendar_built с rebuild.
      operationId: rebuild_calendar_api_calendar_rebuild_post
      parameters:
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebuildResponse'
        '409':
          description: 'Профиль не заполнен: календарь не из чего собрать (profile_incomplete)'
        '503':
          description: 'Справочник недоступен: файл не загрузился или в нём нет нужного
            года (reference_unavailable)'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/profile/settings:
    put:
      tags:
      - miniapp
      summary: Сохранить настройки напоминаний (экран 13) и пересчитать уведомления
      description: Все поля обязательны; d1 не передаётся — он всегда включён. Незнакомые
        ключи Profile.reminders сохраняются. После смены d30, d7, часа или пояса все
        pending-уведомления пересчитываются одной транзакцией. Повтор того же тела
        ничего не меняет. Событие reminder_settings_changed {changed} — только если
        что-то изменилось.
      operationId: save_settings_api_profile_settings_put
      parameters:
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileSettingsInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileOut'
        '409':
          description: 'Профиль не заполнен: онбординг не пройден (profile_incomplete)'
        '503':
          description: 'Справочник недоступен, а изменение требует пересчёта уведомлений
            (d30, d7, час или пояс): настройки не сохранены (reference_unavailable).
            Изменение только digest справочника не требует — ответ 200'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/shares:
    post:
      tags:
      - miniapp
      summary: Создать приглашение по своему событию
      description: 'Повторный вызов по тому же событию с теми же названием и датой
        — тот же код.


        Мини-апп зовёт его при открытии карточки (ссылка должна быть готова к нажатию:
        MAX Bridge

        проверяет клик пользователя), поэтому `share_created` пишет мини-апп по нажатию,
        а не здесь.'
      operationId: create_share_api_shares_post
      parameters:
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/shares/{code}:
    get:
      tags:
      - miniapp
      summary: Приглашение по коду (без данных отправителя)
      operationId: get_share_api_shares__code__get
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          title: Code
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareInvite'
        '404':
          description: Приглашения с таким кодом нет
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/shares/{code}/accept:
    post:
      tags:
      - miniapp
      summary: Добавить срок из приглашения себе (идемпотентно)
      description: 'Профиль не нужен: получатель может быть новым пользователем (экран
        18).


        Повторное принятие тем же пользователем отдаёт ту же задачу (`created: false`).
        Если ту

        задачу он удалил — создаётся новая.'
      operationId: accept_share_api_shares__code__accept_post
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          title: Code
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareAccepted'
        '404':
          description: Приглашения с таким кодом нет
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/ics/link:
    get:
      tags:
      - miniapp
      summary: Ссылка на ленту iCalendar пользователя (экран 19)
      operationId: ics_link_api_ics_link_get
      parameters:
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IcsLinkResponse'
        '503':
          description: Секрет для подписи ссылок не настроен или справочник недоступен
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/ics/{token}.ics:
    get:
      tags:
      - miniapp
      summary: Лента iCalendar пользователя (без initData, доступ по токену из ссылки)
      operationId: ics_feed_api_ics__token__ics_get
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          title: Token
      responses:
        '200':
          description: Лента RFC 5545
          content:
            text/calendar: {}
        '404':
          description: Неверный токен
        '503':
          description: Справочник недоступен
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/me:
    get:
      tags:
      - miniapp
      summary: Текущий пользователь мини-приложения
      operationId: me_api_me_get
      parameters:
      - name: start_param
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Только для dev-режима (ALLOW_DEV_INITDATA): подменяет start_param,
            чтобы отлаживать вход по диплинку вне MAX. С настоящей подписанной initData
            параметр игнорируется.'
          title: Start Param
        description: 'Только для dev-режима (ALLOW_DEV_INITDATA): подменяет start_param,
          чтобы отлаживать вход по диплинку вне MAX. С настоящей подписанной initData
          параметр игнорируется.'
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /api/events:
    post:
      tags:
      - miniapp
      summary: Событие аналитики из мини-приложения
      operationId: post_event_api_events_post
      parameters:
      - name: x-max-init-data
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
            Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без
            заголовка или с неверной подписью — 401.
          title: X-Max-Init-Data
        description: Подписанные данные запуска мини-приложения из MAX Bridge (`window.WebApp.initData`).
          Бэкенд проверяет подпись токеном бота и берёт из них пользователя. Без заголовка
          или с неверной подписью — 401.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackRequest'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Нет заголовка X-Max-Init-Data или неверная подпись initData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
  /health:
    get:
      tags:
      - service
      summary: Проверка, что сервис жив
      description: 'БД проверяем настоящим запросом, а не константами (issue #21):
        Docker HEALTHCHECK

        ходит именно сюда, и без этой проверки контейнер с мёртвой базой считается
        здоровым.


        `token_configured` — только факт наличия MAX_BOT_TOKEN (true/false); сам токен
        и любые

        секреты в ответ не попадают (правило 3 AGENTS.md). Эндпоинт публичный.'
      operationId: health_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Health Health Get
        '503':
          description: База данных не отвечает (status и db — error)
components:
  schemas:
    CalendarItem:
      properties:
        type:
          type: string
          enum:
          - obligation
          - task
          title: Type
        id:
          type: integer
          title: Id
        title:
          type: string
          title: Title
        category:
          type: string
          enum:
          - taxes
          - contributions
          - reports
          - custom
          title: Category
        due_date:
          type: string
          format: date
          title: Due Date
          description: После переноса на рабочий день
        original_date:
          type: string
          format: date
          title: Original Date
          description: По правилу, до переноса; у задачи = due_date
        status:
          type: string
          enum:
          - done
          - overdue
          - today
          - upcoming
          title: Status
          description: Считает бэкенд в часовом поясе пользователя
        done_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Done At
      type: object
      required:
      - type
      - id
      - title
      - category
      - due_date
      - original_date
      - status
      title: CalendarItem
      description: Событие календаря — обязательство или своя задача. Не путать с
        `Event` (аналитика).
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HowtoLinkOut:
      properties:
        label:
          type: string
          title: Label
        url:
          type: string
          title: Url
      type: object
      required:
      - label
      - url
      title: HowtoLinkOut
    IcsLinkResponse:
      properties:
        url:
          type: string
          title: Url
          description: 'https-ссылка на .ics: разовый импорт или подписка по URL'
        webcal_url:
          type: string
          title: Webcal Url
          description: Та же лента по схеме webcal:// — подписка в календаре
        items:
          type: integer
          title: Items
          description: Событий в ленте сейчас; 0 — добавлять пока нечего
      type: object
      required:
      - url
      - webcal_url
      - items
      title: IcsLinkResponse
      description: 'Ссылки на ленту iCalendar пользователя: «Добавить в календарь
        телефона» (экран 19).'
    ItemCard:
      properties:
        type:
          type: string
          enum:
          - obligation
          - task
          title: Type
        id:
          type: integer
          title: Id
        title:
          type: string
          title: Title
        category:
          type: string
          enum:
          - taxes
          - contributions
          - reports
          - custom
          title: Category
        due_date:
          type: string
          format: date
          title: Due Date
          description: После переноса на рабочий день
        original_date:
          type: string
          format: date
          title: Original Date
          description: По правилу, до переноса; у задачи = due_date
        status:
          type: string
          enum:
          - done
          - overdue
          - today
          - upcoming
          title: Status
          description: Считает бэкенд в часовом поясе пользователя
        done_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Done At
        norm:
          anyOf:
          - type: string
          - type: 'null'
          title: Norm
        source_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Url
        howto_steps:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Howto Steps
          description: Ровно три шага; {due_date} раскрыт в «28 октября»
        howto_link:
          anyOf:
          - $ref: '#/components/schemas/HowtoLinkOut'
          - type: 'null'
        penalty_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Penalty Text
        last_checked_at:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Last Checked At
        remind_offset_days:
          anyOf:
          - type: integer
          - type: 'null'
          title: Remind Offset Days
        remind_hour:
          anyOf:
          - type: integer
          - type: 'null'
          title: Remind Hour
        remind_minute:
          anyOf:
          - type: integer
          - type: 'null'
          title: Remind Minute
          description: 'У задачи всегда число: 0–59'
      type: object
      required:
      - type
      - id
      - title
      - category
      - due_date
      - original_date
      - status
      title: ItemCard
      description: Карточка (экран 16). Поля не своего типа — null.
    MeResponse:
      properties:
        user_id:
          type: integer
          title: User Id
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
        is_dev:
          type: boolean
          title: Is Dev
          default: false
        start_param:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Param
        has_profile:
          type: boolean
          title: Has Profile
          default: false
        profile:
          anyOf:
          - $ref: '#/components/schemas/ProfileOut'
          - type: 'null'
        draft:
          anyOf:
          - $ref: '#/components/schemas/TaskDraft'
          - type: 'null'
        draft_stale:
          type: boolean
          title: Draft Stale
          description: 'Мини-апп открыт кнопкой черновика из старого сообщения (start_param
            task_draft_<id>, id не совпал с текущим черновиком или черновика уже нет):
            draft = null, форма 17 открывается пустой с тостом (#96)'
          default: false
      type: object
      required:
      - user_id
      title: MeResponse
    ProfileOut:
      properties:
        income_band:
          type: string
          title: Income Band
        regime:
          type: string
          title: Regime
        has_employees:
          type: boolean
          title: Has Employees
        timezone:
          type: string
          title: Timezone
        nds_payer:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Nds Payer
        calendar_built_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Calendar Built At
        reference_checked_at:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Reference Checked At
          description: Дата сверки справочника (version каталога); null — справочник
            недоступен
        reminders:
          $ref: '#/components/schemas/ReminderSettingsOut'
          description: Настройки напоминаний (экран 13)
      type: object
      required:
      - income_band
      - regime
      - has_employees
      - timezone
      - nds_payer
      - calendar_built_at
      - reminders
      title: ProfileOut
      description: Ответы онбординга без служебных полей. nds_payer = null — определить
        нельзя (D25).
    ProfileSettingsInput:
      properties:
        d30:
          type: boolean
          title: D30
        d7:
          type: boolean
          title: D7
        hour:
          type: integer
          enum:
          - 9
          - 10
          - 18
          title: Hour
          description: 9 · 10 · 18
        digest:
          type: boolean
          title: Digest
        timezone:
          type: string
          enum:
          - Europe/Moscow
          - Europe/Kaliningrad
          - Europe/Samara
          - Asia/Yekaterinburg
          - Asia/Omsk
          - Asia/Krasnoyarsk
          - Asia/Irkutsk
          - Asia/Yakutsk
          - Asia/Vladivostok
          - Asia/Magadan
          - Asia/Kamchatka
          title: Timezone
          description: IANA-пояс из списка вопроса 4 экрана 2
      type: object
      required:
      - d30
      - d7
      - hour
      - digest
      - timezone
      title: ProfileSettingsInput
      description: Сохранение экрана 13. Все поля обязательны; d1 не передаётся —
        он всегда включён.
    RebuildResponse:
      properties:
        items_count:
          type: integer
          title: Items Count
          description: Событий до конца текущего года — как на экране 5
        nearest_due_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Nearest Due Date
          description: Ближайший неотмеченный срок с сегодняшнего дня
        profile:
          $ref: '#/components/schemas/ProfileOut'
      type: object
      required:
      - items_count
      - nearest_due_date
      - profile
      title: RebuildResponse
      description: Итог пересборки календаря (экран 19).
    ReminderSettingsOut:
      properties:
        d30:
          type: boolean
          title: D30
          description: За 30 дней (только обязательства с подготовкой)
        d7:
          type: boolean
          title: D7
          description: За 7 дней
        hour:
          type: integer
          title: Hour
          description: 'Час отправки по поясу пользователя: 9 · 10 · 18'
        digest:
          type: boolean
          title: Digest
          description: Сводка по понедельникам (экран 12)
      type: object
      required:
      - d30
      - d7
      - hour
      - digest
      title: ReminderSettingsOut
      description: Настройки напоминаний (экран 13) поверх умолчаний. d1 выключить
        нельзя — его здесь нет.
    ShareAccepted:
      properties:
        created:
          type: boolean
          title: Created
          description: false — приглашение уже принято раньше, та же задача
        task:
          $ref: '#/components/schemas/ItemCard'
      type: object
      required:
      - created
      - task
      title: ShareAccepted
      description: 'Результат «Добавить»: задача получателя.'
    ShareInput:
      properties:
        item_type:
          type: string
          enum:
          - obligation
          - task
          title: Item Type
        item_id:
          type: integer
          title: Item Id
      type: object
      required:
      - item_type
      - item_id
      title: ShareInput
      description: 'Своё событие, которым делятся: обязательство или задача.'
    ShareInvite:
      properties:
        code:
          type: string
          title: Code
        item_type:
          type: string
          enum:
          - obligation
          - task
          title: Item Type
          description: 'Чем поделились: обязательство или задача'
        title:
          type: string
          title: Title
        due_date:
          type: string
          format: date
          title: Due Date
      type: object
      required:
      - code
      - item_type
      - title
      - due_date
      title: ShareInvite
      description: Что видит получатель. Кто отправил — не отдаём.
    ShareOut:
      properties:
        code:
          type: string
          title: Code
          description: URL-safe, [A-Za-z0-9_-]
        link:
          anyOf:
          - type: string
          - type: 'null'
          title: Link
          description: https://max.ru/<MAX_BOT_USERNAME>?startapp=share_<code>; null
            — MAX_BOT_USERNAME не задан, мини-апп строит ссылку сам
        title:
          type: string
          title: Title
          description: Название, которое получит получатель (до 60 символов)
        due_date:
          type: string
          format: date
          title: Due Date
      type: object
      required:
      - code
      - link
      - title
      - due_date
      title: ShareOut
      description: 'Приглашение: код для `?startapp=share_<code>` и готовая ссылка.'
    TaskDraft:
      properties:
        title:
          type: string
          title: Title
        due_date:
          type: string
          format: date
          title: Due Date
        remind_hour:
          anyOf:
          - type: integer
          - type: 'null'
          title: Remind Hour
          description: Время из сообщения (0–23); null — времени в сообщении не было
        remind_minute:
          anyOf:
          - type: integer
          - type: 'null'
          title: Remind Minute
          description: 0–59; null вместе с remind_hour
      type: object
      required:
      - title
      - due_date
      title: TaskDraft
      description: Черновик задачи из бота (DialogState.data["task_draft"], экран
        9 → 17).
    TaskInput:
      properties:
        title:
          type: string
          title: Title
          description: 1–60 символов после обрезки пробелов
        due_date:
          type: string
          format: date
          title: Due Date
          description: 'Можно в прошлом (D32): тогда напоминания нет, без `done` статус
            overdue'
        remind_offset_days:
          type: integer
          title: Remind Offset Days
          description: 0 · 1 · 3 · 7
          default: 1
        remind_hour:
          type: integer
          maximum: 23.0
          minimum: 0.0
          title: Remind Hour
          description: 'Час напоминания по поясу пользователя: 0–23'
          default: 10
        remind_minute:
          type: integer
          maximum: 59.0
          minimum: 0.0
          title: Remind Minute
          description: 'Минуты напоминания: 0–59'
          default: 0
        done:
          type: boolean
          title: Done
          description: '«Уже выполнено» (D32): задача создаётся с done_at = сейчас,
            без напоминания'
          default: false
      type: object
      required:
      - title
      - due_date
      title: TaskInput
      description: Создание своей задачи (экран 17).
    TaskPatch:
      properties:
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        due_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Due Date
          description: 'Можно в прошлом (D32): тогда напоминания нет'
        remind_offset_days:
          anyOf:
          - type: integer
          - type: 'null'
          title: Remind Offset Days
        remind_hour:
          anyOf:
          - type: integer
            maximum: 23.0
            minimum: 0.0
          - type: 'null'
          title: Remind Hour
          description: 'Час напоминания по поясу пользователя: 0–23'
        remind_minute:
          anyOf:
          - type: integer
            maximum: 59.0
            minimum: 0.0
          - type: 'null'
          title: Remind Minute
          description: 'Минуты напоминания: 0–59'
      type: object
      title: TaskPatch
      description: 'Изменение задачи: передаются только меняемые поля.'
    TrackRequest:
      properties:
        name:
          type: string
          title: Name
        props:
          additionalProperties: true
          type: object
          title: Props
          default: {}
      type: object
      required:
      - name
      title: TrackRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ErrorDetail:
      type: object
      title: ErrorDetail
      required:
      - detail
      properties:
        detail:
          type: string
          title: Detail
